#Python Literal Data Types


* Data types specify the different sizes and values that can be stored in the variable. 

* For example, Python stores numbers, strings, and a list of values using different data types.

* Python is a dynamically typed language; therefore, we do not need to specify the variable’s type while declaring it. 

* Whatever value we assign to the variable based on that data type will be automatically assigned. For example, name = "Sushrutha" here Python will store the name variable as a str data type.* 

* No matter what value is stored in a variable (object), a variable can be any type like int, float, str, list, set, tuple, dict, bool, etc.

#To check data type

* To check the data type of variable use the built-in function type()  and isinstance().

* The type() function returns the data type of the variable.

* The isinstance() function checks whether an object belongs to a particular class.

In [ ]:
Name = "Sushrutha"
Age = 29

print(type(Name))
print(type(Age))

<class 'str'>
<class 'int'>

In [ ]:
isinstance(Name, str)

True

In [ ]:
isinstance(Name, int)

False

# 1. Str data type

* In Python, ***A string is a sequence of characters enclosed within a single quote or double quote***. These characters could be anything like letters, numbers, or special symbols enclosed within double quotation marks. For example, "Sushrutha", "Hello World" is a string.

* The string type in Python is represented using a **str** class.

* To work with text or character data in Python, we use Strings. Once a string is created, we can do many operations on it, such as searching inside it, creating a substring from it, and splitting it.

In [ ]:
Name = "Sushrutha"
print(type(Name))  # <class 'str'>

# display string
print(Name)  # 'PYnative'

# accessing 2nd character of a string
print(Name[1]cccccçcc)  # Y

<class 'str'>
Sushrutha
u

In [ ]:
Name[0]

'S'

In [ ]:
Name[-1]

'a'

* The string is immutable, i.e., it can not be changed once defined. You need to create a copy of it if you want to modify it. 

* **This non-changeable behavior is called immutability.**

In [ ]:
# Now let's try to change 2nd character of a string.
Name[0] = 'p'
# Gives TypeError: 'str' object does not support item assignment

TypeError: ignored

# 2. Int data type

* Python uses the **int data type to represent whole integer values.** For example, we can use the int data type to store the roll number of a student. The Integer type in Python is represented using a int class.

* You can store positive and negative integer numbers of any length such as 235, -758, 235689741.

# Creating a integer variable

* We can create an integer variable using the two ways

* Directly assigning an integer value to a variable
* Using a **int()** class.

In [ ]:
# store int value
roll_no = 33
# display roll no
print("Roll number is:", roll_no)
# output 33
print(type(roll_no))  
# output class 'int'

# store integer using int() class
id = int(25)
print(id)  # 25
print(type(id))  # class 'int'

Roll number is: 33
<class 'int'>
25
<class 'int'>

In [ ]:
rollno1 = 345
rollno2 = int(3456)

In [ ]:
type(rollno1)

int

In [ ]:
type(rollno2)

int

# 3. Float data type

* To represent f**loating-point values or decimal values, we can use the float data type.** For example, if we want to store the salary, weight of the students, marks of the students etc, we can use the float type.

* The float type in Python is represented using a float class.

# Creating a float variable 

* We can create a float variable using the two ways

1. Directly assigning a float value to a variable
2. Using a **float()** class.

In [ ]:
# store a floating-point value
salary = 8000.456
print("Salary is :", salary)  # 8000.456
print(type(salary))  # class 'float'

# store a floating-point value using float() class
num = float(54.75)
print(num)  # 54.75
print(type(num))  # class 'float'

Salary is : 8000.456
<class 'float'>
54.75
<class 'float'>

* Floating-point values can be represented using the exponential form, also called scientific notation. 

* The benefit of using the exponential form to represent floating-point values is we can represent large values using less memory

In [ ]:
# exponential float
num1 = 1.22e4
print(num1)  # 12200.0
print(type(num1))  # class 'float'

12200.0
<class 'float'>

4. Complex data type

* A complex number is a **number with a real and an imaginary component represented as a+bj where a and b contain integers or floating-point values**.

* The complex type is generally used in scientific applications and electrical engineering applications. If we want to declare a complex value, then we can use the a+bj form.

In [ ]:
x = 9 + 8j  # both value are int type
y = 10 + 4.5j  # one int and one float
z = 11.2 + 1.2j  # both value are float type
print(type(x))  # class 'complex'>

print(x)  # (9+8j)
print(y)  # (10+4.5j)
print(z)  # (11.2+1.2j)

<class 'complex'>
(9+8j)
(10+4.5j)
(11.2+1.2j)

# 4. Bool data type

* In Python, to represent boolean values (True and False) we use the bool data type. 

* Boolean values are used to evaluate the value of the expression. For example, when we compare two values, the expression is evaluated, and Python returns the boolean True or False.

In [ ]:
x = 25
y = 20

z =  x > y
print(z)  # True
print(type(z))  # class 'bool'

True
<class 'bool'>

In [ ]:
type(isinstance(x,int))

bool

# 5. Dict data type

* In Python, dictionaries **are unordered collections of unique values stored in (Key-Value) pairs.** 

* Use a dictionary data type to store data as a key-value pair.

* The dictionary type is represented using a **dict** class. For example, If you want to store the name and roll number of all students, then you can use the dict type.

* In a dictionary, duplicate keys are not allowed, but the value can be duplicated. If we try to insert a value with a duplicate key, the old value will be replaced with the new value.

Dictionary has some characteristics which are listed below:

1. A heterogeneous (i.e., str, list, tuple) elements are allowed for both key and value in a dictionary. But An object can be a key in a dictionary if it is hashable.

2. The dictionary is mutable which means we can modify its items

3. Dictionary is unordered so we can’t perform indexing and slicing

# Creating Dictionary 

We can create a dictionary using the two ways

1. By enclosing key and values in the curly brackets {}
2. Using a **dict()** class.

In [ ]:
# create a dictionary
my_dict = {1: "Smith", 2: "Emma", 3: "Jessa"}

# display dictionary
print(my_dict)  # {1: 'Smith', 2: 'Emma', 3: 'Jessa'}
print(type(my_dict))  # class 'dict'

# create a dictionary using a dit class
my_dict = dict({1: "Smith", 2: "Emma", 3: "Jessa"})

# display dictionary
print(my_dict)  # {1: 'Smith', 2: 'Emma', 3: 'Jessa'}
print(type(my_dict))  # class 'dict'

# access value using a key name
print(my_dict[1])  # Smith

# change the value of a key
my_dict[1] = "Kelly"
print(my_dict[1])  # Kelly

{1: 'Smith', 2: 'Emma', 3: 'Jessa'}
<class 'dict'>
{1: 'Smith', 2: 'Emma', 3: 'Jessa'}
<class 'dict'>
Smith
Kelly

# 6. List data type

* The Python List is an **ordered collection (also known as a sequence ) of elements. **List elements can be accessed, iterated, and removed according to the order they inserted at the creation time.

* We use the list data type to represent groups of the element as a single entity.  For example: If we want to store all student’s names, we can use list type.

* The list can contain data of all data types such as  int, float, string

* Duplicates elements are allowed in the list

* **The list is mutable which means we can modify the value of list elements**

# Creating a list

* We can create a list using the two ways:

1. By enclosing elements in the square brackets [].
2. Using a **list()** class.

In [ ]:
my_list = ["Jessa", "Kelly", 20, 35.75]
# display list
print(my_list)  # ['Jessa', 'Kelly', 20, 35.75]
print(type(my_list))  # class 'list'

# Accessing first element of list
print(my_list[0])  # 'Jessa'

# slicing list elements
print(my_list[1:5])  # ['Kelly', 20, 35.75]

# modify 2nd element of a list
my_list[1] = "Emma"
print(my_list[1])  # 'Emma'
print(my_list) 

# create list using a list class
my_list2 = list(["Jessa", "Kelly", 20, 35.75])
print(my_list2)  # ['Jessa', 'Kelly', 20, 35.75]

['Jessa', 'Kelly', 20, 35.75]
<class 'list'>
Jessa
['Kelly', 20, 35.75]
Emma
['Jessa', 'Emma', 20, 35.75]
['Jessa', 'Kelly', 20, 35.75]

# 7. Tuple data type

* Tuples are **ordered collections of elements that are unchangeable.** The tuple is the same as the list, except the tuple is immutable means we can’t modify the tuple once created.

* In other words, we can say a tuple is a read-only version of the list.

* For example: If you want to store the roll numbers of students that you don’t change, you can use the tuple data type.

* Note: Tuple maintains the insertion order and also, allows us to store duplicate elements.

# Creating a tuple

We can create a tuple using the two ways

1. By enclosing elements in the parenthesis ()
2. Using a **tuple()** class.

In [ ]:
# create a tuple
my_tuple = (11, 24, 56, 88, 78)
print(my_tuple)  # (11, 24, 56, 88, 78)
print(type(my_tuple))  # class 'tuple'

# Accessing 3rd element of a tuple
print(my_tuple[2])  # 56

# slice a tuple
print(my_tuple[2:7])  # (56, 88, 78)

# create a tuple using a tuple() class
my_tuple2 = tuple((10, 20, 30, 40))
print(my_tuple2)  # (10, 20, 30, 40)

(11, 24, 56, 88, 78)
<class 'tuple'>
56
(56, 88, 78)
(10, 20, 30, 40)

# Tuple is immutable

A tuple is immutable means once we create a tuple, we can’t modify it

In [ ]:
# create a tuple
my_tuple = (11, 24, 56, 88, 78)

# modify 2nd element of tuple
my_tuple[1] = 35
print(my_tuple)
# TypeError: 'tuple' object does not support item assignment

TypeError: ignored

# 8. Range data type

* In Python, The built-in function  range() used **to generate a sequence of numbers from a start number up to the stop number.** 

* For example, If we want to represent the roll number from 1 to 20, we can use the range() type. 

* By default, it returns an iterator object that we can iterate using a for loop.

In [ ]:
# Generate integer numbers from 10 to 14
numbers = range(10, 15, 1)
print(type(numbers))  # class 'range'

# iterate range using for loop
for i in range(10, 15, 1):
    print(i, end=" ")
# Output 10 11 12 13 14

<class 'range'>
10 11 12 13 14

# 9. Set data type

* In Python, a set is **an unordered collection of data items that are unique.** In other words, Python **Set is a collection of elements (Or objects) that contains no duplicate elements.**

* In Python, the Set data type used to represent a group of unique elements as a single entity. For example, If we want to store student ID numbers, we can use the set data type.

* The Set data type in Python is represented using a **set** class.

# Creating a set

We can create a Set using the two ways

1. By enclosing values in the curly brackets {}
2. Using a **set()** class.

The set data type has the following characteristics.

1. It is mutable which means we can change set items
2. Duplicate elements are not allowed
3. Heterogeneous (values of all data types) elements are allowed
4. Insertion order of elements is not preserved, so we can’t perform indexing on a Set

In [ ]:
# create a set using curly brackets{,}
my_set = {100, 25.75, "Jessa"}
print(my_set)  # {25.75, 100, 'Jessa'}
print(type(my_set))  # class 'set'

# create a set using set class
my_set = set({100, 25.75, "Jessa"})
print(my_set)  # {25.75, 100, 'Jessa'}
print(type(my_set))  # class 'set'

# add element to set
my_set.add(300)
print(my_set)  # {25.75, 100, 'Jessa', 300}

# remove element from set
my_set.remove(100)
print(my_set)  # {25.75, 'Jessa', 300}

{'Jessa', 25.75, 100}
<class 'set'>
{'Jessa', 25.75, 100}
<class 'set'>
{'Jessa', 25.75, 100, 300}
{'Jessa', 25.75, 300}

# 10. Frozenset

The frozenset data type is used to **create the immutable Set.**  Once we create a frozenset, then we can’t perform any changes on it.

Use a **frozenset()** class to create a frozenset.

In [ ]:
my_set = {11, 44, 75, 89, 56}
print(type(my_set))  # class 'set'

# creating frozenset
f_set = frozenset(my_set)
print(type(f_set))  # class 'frozenset'

<class 'set'>
<class 'frozenset'>

Note: If we try to perform operations like add, remove on frozenset, you will get an error.

# 11. None Type

* Python contains one special data type (None).

* ‘None’ is used to define a null variable. It signifies that a particular field is not created.

* That is, Python will print None as output when we print the variable with no value assigned to it.

* None is also used for end of lists in Python.

* If ‘None’ is compared with anything else other than a ‘None’, it will return false.

In [ ]:
Absent = None
print(Absent)

# Casting: Specify a Variable Type

* There may be times when you want to specify a type on to a variable. This can be done with casting. 

* Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
#Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
#Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
#Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'